* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* nav-bar */
.navbar {
    background-color: #21243d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
    height: 85px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
}

/* ----------------------------- */

/* first section */

.first {
    height: 90vh;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: baseline;
    align-items: center;
    row-gap: 50px;
    background-image: url(./img/food/food_bg.png);
}

.s1 {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    text-align: left;
    flex-direction: column;
    color: rgb(255, 255, 255);
    width: 50%;
    height: 75%;
    margin-left: 3%;
    text-shadow: 7px 3px 3px #13141b;
}

.s1>h1 {
    font-size: 55px;
}

.s1>p {
    font-size: 23px;
}

.s1>button {
    width: 322px;
    height: 65px;
    border-radius: 33px;
    border: none;
    background-color: #21243d;
}

/* ----------------------------- */

/* second section */

.second {
    background-color: #21243d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    height: 700px;
    overflow: hidden;
    position: relative;
}

.shape_1 {
    overflow: hidden;
    position: absolute;
    margin-left: 1250px;
    margin-bottom: 600px;
}

.shape_12 {
    overflow: hidden;
    position: absolute;
    margin-right: 1350px;
    margin-top: 400px;
}

.shape_2 {
    overflow: hidden;
    position: absolute;
    margin-right: 1050px;
    margin-top: -300px;
}

.shape_21 {
    overflow: hidden;
    position: absolute;
    margin-left: 1250px;
    margin-bottom: -500px;
}

.shape_3 {
    overflow: hidden;
    position: absolute;
    margin-left: 1320px;
    margin-top: 10px;
}

.shape_32 {
    overflow: hidden;
    rotate: 90deg;
    position: absolute;
    margin-right: 500px;
    margin-bottom: 650px;
}

.titles {
    text-align: center;
    width: 50%;
}

.titles>h1 {
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 25px;
}

.titles>p {
    font-size: 16px;
    text-align: center;
    color: #ffffff;
}

.carts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
}

.cart {
    /* border: 2px solid aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.cart>img {
    border-radius: 50%;
    width: 40%;

}

.cart>h3,
.cart>p {
    text-align: center;
    color: #ffffff;
    font-size: 26px;
    font-family: "Montserrat";
}

.cart>p {
    text-align: center;
    width: 75%;
    color: #ffffff;
    font-size: 16px;
    font-family: "Montserrat";
}

/* ----------------------------- */

/* Third Sections */

.third {
    background-color: #ffd17e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8%;
    height: 700px;
    overflow: hidden;
    position: relative;
}

.img_3 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img_3>img {
    width: 60%;
    border-radius: 50%;
}

.text_3 {
    width: 50%;

}

.text_3>h1 {
    font-size: 75px;
    color: #21243d;
    font-weight: 700;
    font-family: "Montserrat";
    margin-bottom: 40px;
}

.text_3>p {
    font-size: 25px;
    color: #21243d;
    font-family: "Montserrat";
    text-align: left;
    margin-bottom: 40px;
}

.text_3>button {
    width: 322px;
    height: 65px;
    border-radius: 33px;
    border: none;
    background-color: #21243d;
    margin-bottom: 10px;
}

.shape_2_1 {
    position: absolute;
    margin-right: 850px;
    margin-bottom: 290px;
    width: 10%;
}

.shape_2_12 {
    position: absolute;
    margin-left: 1300px;
    margin-top: 390px;
    width: 10%;
}

.shape_2_2 {
    position: absolute;
    margin-left: 1250px;
    margin-bottom: 440px;
    width: 4%;
}

.shape_2_22 {
    position: absolute;
    margin-right: 1250px;
    margin-top: 540px;
    width: 4%;
}

.shape_2_3 {
    position: absolute;
    margin-right: -70px;
    margin-bottom: 390px;
    width: 6%;
}

/* ----------------------------- */

/* fourth section */

.fourth {
    background-color: #21243d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8%;
    height: 700px;
    overflow: hidden;
    position: relative;
}

.title_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
}

.title_4>h1 {
    font-size: 62px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}

.title_4>p {
    font-size: 25px;
    color: #ffffff;
    font-family: "Montserrat";
    text-align: center;
}

.curve {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.c1 {
    color: #ffffff;
    width: 274px;
    height: 275px;
    /* border-radius: 50%; */
    border: 5px solid #ffffff;
    position: relative;
}

.c1 >h1{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.c1 >h4{
    display: flex;
    justify-content: center;
    align-items: center;  
}

